*.[oa]
.dep_modules
ebizzy

# 二进制
lib/tests/trerrno
lib/tests/tst_checkpoint
lib/tests/tst_checkpoint_wait_timeout
lib/tests/tst_checkpoint_wake_timeout
lib/tests/tst_cleanup_once
lib/tests/tst_dataroot01
lib/tests/tst_dataroot02
lib/tests/tst_dataroot03
lib/tests/tst_device
lib/tests/tst_fs_fill_hardlinks
lib/tests/tst_fs_fill_subdirs
lib/tests/tst_process_state
lib/tests/tst_record_childstatus
lib/tests/tst_safe_macros
lib/tests/tst_strerrno
lib/tests/tst_strsig
lib/tests/tst_tmpdir_test
pan/ltp-bump
pan/ltp-pan
pan/ltp-scanner
